body{
    background-image: "\bg.png";
    /* background-color: red; */
}

/* body{
    background-image: "bg.png";
    background-color: red;
} */
        /* This is tag selector */
        /* h1 {
    background-color: blue;
    font-size: 50px;
} */
/* class selector where .red is a class which is called in opening tag with class = "class_name" */
/* .red{
    color: blue;
    background-color: red;
}
.brown{
    color: yellow;
    background-color: brown;
} */

/* This is id Selector where it is called by using id = "id_name" as below */
/* #red{
    color: aqua;
    background-color: yellow;
} */

/* This is tag selector */
/* div {
    background-color: blueviolet;
} */


/* This is grouping selector */
/* div , h1 {
font-size: 50px;
background-color: yellow;
} */


/*This is Element with class selector  */
/* h1.red{
    background-color: greenyellow;
} */


/* This is child selector */
/* div > p {
    background-color: aquamarine;
} */

/* This is descedant selector */
/* article p {
color: red;
} */

/* Pseudo-class selector */
/* :hover */
/* div:hover{
    color: red;
} */

/* nth child */
/* li:nth-child(2){
    background-color: aqua;
} */

/* link */
/* a:link{
    background-color: yellow;
}

a:visited{
    color:darkblue;
}

a:hover{
    background-color: red;
}

*{
    box-sizing: border-box;
    margin : 0;
    padding: 0; 
} */


/* this properties are for the box configuration */
/* body{
    
    background-color: gray;
 }
  
#box{
    background-color: blue;
    padding: 10px;
    border: 5px solid black;
    width :300px;
    height: 50px;
    margin-top: 20px;
    overflow: auto;
    

}

#content{
    background-color: #90EE90;
    
}

h1{
    margin-bottom: 30px;
}

*/

/* This properties are for background property */
/* #bg{
    width: 500px;
    height: 500px;
    background-color: blue;
    background-image: url("bg.png");
    background: url("bg.png") no-repeat right center blue;
}  */

/* this properties are for floating elements */
/* *{
    box-sizing: border-box;
}

div{
    background-color: #00FFFF;
}

section{
    clear:left;
}

p{
    width: 50%;
    height: 50px;
    border: 1px solid black;
    float: left;
    text-align: center;
    padding: 10px;
    
    
}

#p1{
    background-color: #A52A2A;

}

#p2{
    background-color: #DEB887;
}

#p3{
    background-color: #5F9EA0;
    clear: left;
}

#p4{
    background-color: #FF7F50;
} */


