body{
    background-image: "\bg.png";
    background-color: red;
}

/* body{
    background-image: "bg.png";
    background-color: red;
} */
        /* This is tag selector */
        /* h1 {
    background-color: blue;
    font-size: 50px;
} */
/* class selector where .red is a class which is called in opening tag with class = "class_name" */
/* .red{
    color: blue;
    background-color: red;
}
.brown{
    color: yellow;
    background-color: brown;
} */

/* This is id Selector where it is called by using id = "id_name" as below */
/* #red{
    color: aqua;
    background-color: yellow;
} */

/* This is tag selector */
/* div {
    background-color: blueviolet;
} */


/* This is grouping selector */
/* div , h1 {
font-size: 50px;
background-color: yellow;
} */


/*This is Element with class selector  */
/* h1.red{
    background-color: greenyellow;
} */


/* This is child selector */
/* div > p {
    background-color: aquamarine;
} */

/* This is descedant selector */
/* article p {
color: red;
} */

/* Pseudo-class selector */
/* :hover */
/* div:hover{
    color: red;
} */

/* nth child */
/* li:nth-child(2){
    background-color: aqua;
} */

/* link */
/* a:link{
    background-color: yellow;
} */